#signupSuccessPage span {
  font-size: 100px;
  color: #44c918;
}

#signupSuccessPage p {
  font-size: 30px;
  color: #44c918;
}

.priceSettingTitle{
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: bold;
}

.priceSettingDetail{
  margin-left: 13px;
}

.requiredMark{
  color: red;
}

.hint{
  color: blue;
}
