nav {
  z-index: 3;
}

#createCustomerBtn, #createOwnerBtn {
  display: inline-block;
  padding: 30px 40px 20px 40px;
  margin: 5px 100px 10px 10px;
  border-radius: 10px;
}

#createCustomerBtn:hover, #createOwnerBtn:hover {
  background-color: #f2f2f2;
}

#createCustomerBtn {
  margin: 10px 100px 10px 10px;
}

#createOwnerBtn {
  margin: 10px 10px 10px 100px;
}

#createCustomerBtn > img, #createOwnerBtn > img{
  width: 150px;
  height: 150px;
}


@media screen and (max-width: 767px) {
  #createCustomerBtn > img, #createOwnerBtn > img{
    width: 100px;
    height: 100px;
  }

  #createCustomerBtn, #createOwnerBtn {
    margin: 10px 50px 10px 50px;
  }


}

#mainSearchBar {
  background-color: white;
  width: 100%;
  display: none;
  position: absolute;
  top: 56px;
  z-index: 2;
}
#mainSearchBarCloseBtn {
  position: absolute;
  right: 20px;
}

.facilitiesItem {
  margin-right: 20px;
}

#searchBtn {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#mainSearchBarCol {
  border-right: 1px solid #dee2e6;
}

@media screen and (max-width: 575px) {
  #mainSearchBarCol {
    border-right: 0px;
  }
}

#mainSearchBarSpace {
  display: inline-block;
}


@media screen and (max-width: 991px) {
  #mainSearchBarSpace {
    display: none;
  }

  .mainSearchBarTime{
    width: 100%
  }
}

#partyRoomNameField {
  padding: 0px 100px;
}

@media screen and (max-width: 572px) {
  #partyRoomNameField {
    padding: 20px 20px 0px 20px;
  }
}
